* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

.gradient {
    --start-color: #000;
    --end-color: #fff;
    --angle: 180;
    background-image: linear-gradient(calc(var(--angle) * 1deg), var(--start-color), var(--end-color));
    height: 100vh;
    width: 100vw;
}

.options {
    background-color: white;
    padding: 0.5em;
}