* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.clock {
    position: relative;
    height: 250px;
    width: 250px;
    border: 2px solid black;
    border-radius: 50%;
}
.hand {
    position: absolute;
    top: 50%;
    width: 50%;
    height: 2px;
    background-color: black;
    transform-origin: 100%;
    transform: rotate(30deg);
}
.second:before {
    content: "seconds";
    padding-left: 10px;
}
.minute:before {
    content: "minutes";
    padding-left: 10px;
}
.hour:after {
    content: "hours";
    padding-left: 10px;
}